.container__big-card {
    display: flex;
    width: 900px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;}

.big-card__title {
    margin-left: 15px;
}

.big-card__photo img {
    width: 300px;
    height: 100%;
    display: flex;
}


.big-card__description p a{
    color: gray;
}


	
@media screen and (max-width: 480px) {

    .big-card__photo img {
        width: 140px;
        height: 100%;
        display: flex;
    }

    h2 {
        font-size: .7rem;
    }

    .big-card__description p{
        color: gray;
        font-size: .5rem
    }

    .container__big-card {
        display: flex;
        width: 75%;
        justify-content: center;
    }
}