.container__big-card {
    display: flex;
    width: 900px;
    justify-content: center;
}

.big-card__title {
    margin-left: 15px;
}

.big-card__photo img {
    width: 300px;
    height: 100%;
    display: flex;
}


.big-card__description p a{
    color: gray;
}


	
@media screen and (max-width: 480px) {

    .big-card__photo img {
        width: 140px;
        height: 100%;
        display: flex;
    }

    h2 {
        font-size: .7rem;
    }

    .big-card__description p{
        color: gray;
        font-size: .5rem
    }

    .container__big-card {
        display: flex;
        width: 75%;
        justify-content: center;
    }
}