<div class="container__small-card">
    <div class="small-card__photo">
        <img src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_4x3.jpg"
            alt="photo">
    </div>
    <div class="small-card__title"><h1>The Avatar new</h1></div>
    <div class="small-card__descripition">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing   elit. Praesent varius mollis ipsum, non ornare diam
            accumsan et. Donec maximus, quam tincidunt condimentum pharetra, risus magna efficitur nibh, congue pulvinar
            orci orci vel arcu.
        </p>
    </div>
</div>