.small-card__photo img {
    width: 100%;
    min-height: 200px;
}

.container__small-card {
    width: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    margin-top: 1rem;
    margin: 37px;
}

@media screen and (max-width: 480px) {

  
    .container__small-card  {
        width: 75%;
        margin: .3rem;
        margin-top: 2rem;
    }
    .small-card__photo img {
        width: 100%;
    }

    .small-card__title {
        font-size: 0.5rem;
    }

    .small-card__descripition p {
        font-size: 0.5rem;
    }
}