.container__menu-bar {
  display: flex;
  min-width: 900px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.menu-bar__logo img {
    width: 50px;
}

.menu-bar__links ul{
    display: flex;
   
}

.container__menu-bar ul li{
    list-style: none;
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    .container__menu-bar {
        display: flex;
        min-width: 0px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
      }

 }